:root{
  --bg:#0b0b0b;
  --bg-canva: #791401;
  --bg-soft:#141414d6;
  --red:#c4475a;
  --text:#f2f2f2;
  --muted:#a9a9a9;
}
*{margin:0;padding:0;box-sizing:border-box}
body{
  background-image: url("../img/Red\ and\ White\ Modern\ Fashion\ Collection\ Presentation.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


  color:var(--text);
  font-family:'Inter',sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.109); /* escurece */
  z-index: -1;
}


html {
  scroll-behavior: smooth;
}


/* HEADER */
header{
  position: fixed;
  margin:5px;
  padding:0 5px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background:var(--bg-soft);
  z-index:10;

}

header nav {
    display: flex;
    align-items: center;
}
header nav a{
    color: #ba992e;
    padding: 10px;
    text-decoration: none;
}

.logo{
  font-family:'Playfair Display',serif;
  font-size:1.4rem;
  padding: 5px;
}
.logo span{color:var(--red)}

/* HERO */
.hero{
  height:100vh;
  background:
    radial-gradient(circle at center,rgba(0,0,0,.2),rgba(0,0,0,.95)),
    url('https://images.unsplash.com/photo-1512436991641-6745cdb1723f?auto=format&fit=crop&w=1600&q=80');
  background-size:cover;
  background-position:center;
  display: flex;

}
.hero-content{
  max-width:720px;
}
.hero small{
  letter-spacing:.35em;
  color:var(--red);
}
.hero h1{
  font-family:'Playfair Display',serif;
  font-size:clamp(3.5rem,7vw,5.5rem);
  margin:1rem 0;
}
.hero h1 span{color:var(--red)}
.hero p{
  color:var(--muted);
  max-width:520px;
  margin-bottom:2rem;
}

.hero .actions a{
  margin-right:1rem;
}

.btn{
  background: linear-gradient(
  135deg,
  #953535,
  #c02b2b,
  #9e1b1b
);
  background-blend-mode: var(--red);
  padding:.6rem 1.4rem;
  border-radius:30px;
  color:#fff;
  text-decoration:none;
}

.btn-historia{
      background: linear-gradient(
  135deg,
  #201d1d,
  #595959,
  #292626
);
  background-blend-mode: overlay;
  padding:.6rem 1.4rem;
  border-radius:30px ;
  color:#fff;
  text-decoration:none;
}
/* STATS */
.stats{
  display:flex;
  margin-top: 3%;
}

.stat{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.stat span{
  color:var(--red);
  font-size:1.6rem;
}
.stat p{font-size:.8rem;color:#bbb}

/* SECTION BASE */
section{
  padding:9rem 6vw;
}
section h2{
  font-family:'Playfair Display',serif;
  font-size:3.2rem;
}
section h2 span{color:var(--red)}

/* ABOUT */
.about{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:4rem;
}
.about-img{
  background:
    linear-gradient(to top,rgba(29, 27, 27, 0.8),transparent),
    url(../img/pexels-cottonbro-6069090.jpg);
  background-size:cover;
  background-position:right;
  border-radius:30px;
  min-height:520px;
  position:relative;
}
.about-badge{
  position:absolute;
  bottom:2rem;left:2rem;
  background:rgba(0,0,0,.6);
  padding:1.2rem 1.5rem;
  border-radius:20px;
}
.about-text p{
  color:var(--muted);
  line-height:1.8;
  margin:1.4rem 0;
}

/* DIFFERENTIALS */
.diff{
  color: var(--text);
}
.diff-grid{
  margin-top:4rem;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:2rem;
}
.diff-card{
  background:rgba(55, 55, 55, 0.995);
  padding:2.5rem;
  border-radius:26px;
}
.diff-card span{color:var(--red);font-size:1.4rem}
.diff-card h3{margin:.6rem 0}
.diff-card p{color:var(--muted);font-size:.9rem}

/* CUSTOM CREATION */
.create{
  /*background:radial-gradient(circle at center,#000,#000 60%);*/
    background-image: url("../img/Red\ and\ White\ Modern\ Fashion\ Collection\ Presentation (1).png");
  background-size: cover;
  background-position: center;
  background-attachment: fix
}
.create-layout{
  margin-top:4rem;
  display:grid;
  grid-template-columns:220px 1fr 260px;
  gap:2.5rem;
}
.steps button{
  width:100%;
  background:transparent;
  border:1px solid #222;
  color:#ccc;
  padding:1rem;
  margin-bottom:1rem;
  border-radius:30px;
  text-align:left;
}
.steps .active{
  background:var(--red);
  border:none;
  color:#fff;
}
.items{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:2rem;
}
.item{
  background:rgba(255,255,255,.03);
  padding:2rem;
  border-radius:26px;
  text-align:center;
}
.selection{
  background:rgba(255,255,255,.03);
  border-radius:30px;
  padding:1.5rem;
  margin-top: 10px;
}
.selection img{
  width:100%;
  border-radius:20px;

}

.preview-container{
  position:relative;
  width:100%;
  max-height:350px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.preview-container img{
  max-height:320px;
  object-fit:contain;
  position:relative;
  z-index:2;
  filter: brightness(1.05);
}

#color-overlay{
  position:absolute;
  inset:0;
  background:#ffffff;
  mix-blend-mode:multiply;
  opacity:0.85;
  z-index:3;
  pointer-events:none;
}


/* RESPONSIVE */
@media(max-width:900px){
  .about{grid-template-columns:1fr}
  .create-layout{grid-template-columns:1fr}
}